
/* styles for the pages folder  */
/* about pages css */
.homePage {
    height: 100vh;
    color: #00e676;  
    display: flex;
    flex-flow: column;
    background-image: url(../images/codeDemo.PNG);
    background-size: cover;
}
#info {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}
.standOut {
    color: rgb(9, 255, 0);
}
#aboutMe{
    color: white;
    text-indent: 5%;
line-height: 1.6;

}
ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
 .skill {

    color: yellow;
    text-align: center;
    padding: 1%;
    list-style: none;
} 
.h1Title {
    text-align: center;
}
div.homeText {
    width: 85%;
    background-color: rgb(95, 95, 95);
    border: solid 2px;
    padding: 2%;
    box-shadow: 0px 3px 10px 3px rgb(9, 255, 0);
    }
div.homeText1 {
        width: 75%;
        height: fit-content;
        background-color: rgb(95, 95, 95);
        border: solid 2px;
        padding: 2%;
        box-shadow: 0px 3px 10px 3px rgb(9, 255, 0);
        } 
.portLinks {
        position: absolute;
        bottom: 10%;
        left: 43%;
        width: 15%;
        border-top: solid 2px #333;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 2%;
    }
.links {
        border-top: solid 2px;
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        color: black;
    }
    .icons:hover {
        animation: pulse 1s infinite;
        cursor: pointer;
        transform: scale(1.2, 1.2);
        color: rgb(0, 4, 255);
    }
    @keyframes pulse
    {
         0% {
              box-shadow: 0 0 0 0px rgba(5, 234, 250, 0.2);
         }
         100% {
              box-shadow: 0 0 0 25px rgba(9, 255, 0, 0.2);
         }
    }
    

    /* portfolio page css */

.portfolio {
    height: 100%;
    color: #00e676;  
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}
.cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
    justify-content: center;
    background-color: rgb(95, 95, 95);
    border: solid 2px;
    padding: 2%;
    box-shadow: 0px 3px 60px 3px rgb(9, 255, 0);
      
}
.port2Links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid;
    width: 40%;
    margin-top: 3%;
    padding-top: 1%;
    padding-bottom: 3%;  
    color: black;
}

/* contact page css */

.contactPage {
    height: 100vh;
    background-image: linear-gradient(to left, grey, rgb(57, 198, 245));
    color: #00e676;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mailImage {
    margin-top: 5%;
    height: 40%;
    width: 40%;
    display: flex;
    justify-content: center;
}
.mailPic  {
    height: 100%;
}
.contactLinks {
    border-top: solid 2px;
    color: yellow;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
    padding-top: 2%;
    width: 45%;
}
.emailMessage {
    text-align: center;
    color: rgb(0, 38, 255);
}
.emailLink {
    color: yellow;
    font-size: 140%;
    font-family: monospace;
}
.noMatch {
    height: 100vh;
    background-image: linear-gradient(to left, grey, rgb(57, 198, 245));
    color: #00e676;  
    display: flex;
    flex-flow: column;
    align-items: center;
}
@supports (-ms-ime-align: auto) {
    .links { justify-content: space-around; }
    .port2Links { justify-content: space-around;}
    .contactLinks { justify-content: space-around;}
    }