/* Css styleing for home page in app.js */

/* media queries for screen changes 
for anything under 800px */
body {
  height: 100%;
  margin: 0;
}
#root {
  height: 100%;
}
@media screen and (max-width: 800px) {
  /* Navbar */

  #deskNav {
    display: none;
  }
  #mobNav {
    height: 5%;
    z-index: 50;
    position: fixed;
    top: 3%;
    right: 5%;
  }
  #intro {
    flex-flow: column-reverse;
    align-items: center;
    background-size: 100%;
    background-position: 1% 90%;
  }
  .introDescription {
    background-color: #30475e;
    opacity: 0.9;
    margin-right: 0;
    align-items: center;
    width: 100%;
    padding: 0 0 65% 0;
    font-size: 1.5em;
  }
  .introImg {
    margin: 0% 5% 30% 5%;
  }
  .introPara {
   display: flex; 
   flex-flow: column;
   justify-content: space-around;
   font-size: 1em;
  }
  /* .introPara > span {
    font-size: 1.3em;
  } */
#h_1 {
  text-indent: 0%;
}
#h2 {
  height: 0;
}
.fullName {
  font-size: 1.6em;
}

  /* About section */
  #aboutMe {
    width: 100%;
  }
  div.homeText {
    width: 85%;
    flex-flow: column;
    margin: 5%;
  }
  #info {
    height: 100vh !important;
  }
  #info > .homeText1 {
    width: unset;
    margin: 5%;
    justify-content: space-evenly;
  }
  .homeText1 > ul {
    justify-content: space-between;
    padding: 0;
  }
  .buttonLink {
    color: #ca3e47;
  }
  .myImg {
    display: none;
  }
  .aboutPara {
    font-size: 1em;
  }

  /* portfolio */
  #portfolioCarousel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .portfolioLR {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .cards > .card {
    display: none;
  }
  /* resume section */
  .mobResBody {
    overflow: scroll !important;
  }

  /* contact */
  .contactLinks {
    margin-bottom: 20% !important;
  }
  .emailLink {
    font-size: 1em !important;
  }
  .emailForm {
    height: 70%;
    width: 100%;
  }
  .contactLinks {
    bottom: -3%;
  }
  .card {
    height: 50%;
  }

  /* /////////////////////////////////////////// */
  /* error link no match page */
  .errorPara {
    margin: 10%;
  }
  #deadLink {
    height: 30%;
  }
}
@media screen and (min-width: 1440px) {
  .mobResBody {
    height: 100vh;
  }
}
@media screen and (min-width: 2160px) {
  .card {
    height: 500px;
  }
}