/* styles for the pages folder  */
/* intro pages css */

#intro {
  height: 100vh;
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease;
  background-image: url("../images/blue-ed.png");
  background-size: contain; 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

.introDescription {
  height: 100vh;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 5%;
}
.introPara {
  font-family: "Roboto Slab", serif;
  color: #e8e8e8;
  font-size: 30px;
  opacity: 1;
  transition: visibility 5s linear 0s, opacity 300ms;
  text-align: center;
}
#h_1 {
  height: 15%;
  text-align: center;
  
}
#h_2 {
  height: 15%;
  text-align: center;
}
#h_3 {
  height: 15%;
  text-align: center;
}
/* ////////////////////////////////////////////////////////////////////////////// */
/* About page styles. */
.homePage {
  height: 100%;
  display: flex;
  flex-flow: column;
  background-color: #30475e;
  /* background-image: linear-gradient(to right, #ca3e47, #222831 ,#30475e); */
  color: #30475e;
}
div.homeText {
  width: 60%;
  background-color: #e8e8e8;
  padding: 2%;
  margin-top: 5%;
  border-radius: 10px;
  display: flex;
  flex-flow: row;
}
div#aboutMe {
  color: #222831;
  text-indent: 5%;
  line-height: 1.6;
}
div.homeText1 {
  width: 50%;
  height: min-content;
  background-color: #e8e8e8;
  padding: 2%;
  border-radius: 10px;
}
#info {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.aboutPara {
  font-size: 1.6em;
}
.standOut {
  color: rgb(9, 255, 0);
}
.homeText1 > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.skill {
  color: #222831;
  text-align: center;
  padding: 1%;
  list-style: none;
}
.h1Title {
  text-align: center;
  color: #30475e;
}
.portLinks {
  position: absolute;
  bottom: 10%;
  left: 43%;
  width: 15%;
  border-top: solid 2px #333;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2%;
}
.links {
  border-top: solid 2px;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgb(9, 255, 0);
}
.icons:hover {
  animation: pulse 1s infinite;
  cursor: pointer;
  transform: scale(1.2, 1.2);
  color: silver;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0px #e8e8e8;
  }
  100% {
    box-shadow: 0 0 50px 25px #ca3e47;
  }
}
.introImg {
  height: 80%;
  opacity: 0.8;
}
.myImg {
  height: 70%;
  position: absolute;
  bottom: 0;
  left: -5%;
  opacity: 0.8;
}
/* portfolio page css */
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.portfolio {
  height: 100vh;
  background-color: #30475e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards {
  height:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* contact page css */
/*///////////////////////////////////////////////////////////////////////////////////////////////////////*/
.emailForm {
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 1.5%;
  box-shadow: 0 0 0.3em 0.3em #e8e8e8;
  margin-bottom: 7%;
}
.contactForm {
    width: 90%;
    height: 90%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.conName {
  width: 40%;
  font-size: 0.6em;
  margin-left: 3%;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: whitesmoke;
  border-bottom-color: #bababa;
  text-align: center;
  outline: none;
  color: #2980b9;
}
.conMessage {
  height: 20vh;
  width: 70%;
  font-size: 1.5em;
  border-color: #bababa;
  color: #2980b9;
  border-radius: 0.5%;
  margin: 3% 0 3% 5%;
  outline-color: #00e676;

  
}
.conEmail {
  color: #2980b9;
  width: 40%;
  font-size: 0.6em;
  margin-left: 3%;
  border-top: none;
  border-right: none;
  border-left: none;
  background-color: whitesmoke;
  border-bottom-color: #bababa;
  outline: none;
  text-align: center;
}
.formInfo {
  color: #2980b9;
  width: 100%;
  font-size: 2em;
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 1% 0 1% 0;
}
.formIncomplete {
  border-bottom-color: #ca3e47;
}
.messageIncomplete {
  border-color: #ca3e47;
}
.formPara {
  font-size: 1.5em;
  color:#30475e;
}
.emailFormButton {
  border: 2px solid;
  height: 10%;
  width: 15%;
  border-radius: 5%;
  color: #ca3e47;
  outline-color: #ca3e47;
  font-size: 1em;
}
.emailFormButton:hover {
  cursor: pointer;
  background-color: #2980b9;
  color: white;
}
.contact {
  position: relative;
  height: 100vh;
  /* background-image: linear-gradient(to left, grey, rgb(57, 198, 245)); */
  background-color: inherit;
  color: #00e676;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.mailImage {
  margin-top: 5%;
  height: 40%;
  width: 40%;
  display: flex;
  justify-content: center;
}
.mailPic {
  height: 100%;
}
.contactLinks {
  position:absolute;
  border-top: solid 2px;
  color: #e8e8e8;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
  width: 45%;
  bottom: 113px;
}
.centerEmail {
 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10%;

}
.emailMessage {
  font-size: 2em;
  text-align: center;
  color: #e8e8e8;
}
.emailLink {
  color: #ca3e47;
  font-family: monospace;
  font-size: 1.5em;
  text-decoration: underline;
  cursor: pointer;
}
.emailLink:hover {
  color: #ca3e47;
}
.noMatch {
  height: 100vh;
  background-image: linear-gradient(to left, #30475e, #222831);
  color: #ca3e47;
}
.errorMessage {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

/*  Resume  */
/*//////////////////////////////////////////////////////////////////////////////////*/
.resume {
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
.resumePDF {
  height: 100%;
  overflow: auto;
}
.pdf {
  height: 90%;
}
.resLinks {
  color: rgb(9, 255, 0);
}
@supports (-ms-ime-align: auto) {
  .links {
    justify-content: space-around;
  }
  .port2Links {
    justify-content: space-around;
  }
  .contactLinks {
    justify-content: space-around;
  }
}

/* ---------------------------------------------------------------------------------- */

/* Mobile Resume Page */

#mobResMain {
  height: 100%;
  background-color: #30475e;
 

}
.mobResBody {
  overflow: hidden;
}
.mobileRes {
  height: 6vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: transparent;
  transition: background-color 0.1s ease-in ;
}
.mobileRes.active {
  background-color: #222831;
  position: sticky;
  top: 0;
  z-index: 5;

}
a.mobResBack {
    margin-left: 15%;
    text-decoration: none;
    color: #ca3e47;
    font-size: large;
    border: 1px solid;
    padding: 0.5%;
    border-radius: 9.5px;
}
.react-pdf__Page__canvas {
  margin: auto;
  margin-top: 5%;
}
.react-pdf__Page__textContent {
  display: none;
}
/* /////////////////////////////////////////////////////// */
/* ERROR 404 Page */
.errorHomeBtn {
  color: white;
  font-size: 2em;
  text-decoration: none;
  border: 2px solid #ca3e47;
  border-radius: 4%;
  padding: 1%  3% 1% 3%;
}